language: go

go:
  - 1.7.4
env:

before_install:
  - mkdir -p $GOPATH/src/github.com/lxn
  - cd $GOPATH/src/github.com/lxn
  - git clone https://github.com/lxn/walk.git
  - cd $GOPATH/src/github.com/lxn/walk
  - ls
install:
  - go get github.com/lxn/win
  - go get github.com/fsnotify/fsnotify
  - go get golang.org/x/sys/windows/registry
  - cd $GOPATH/src/github.com/tinycedar/lily
  - go build -ldflags="-H windowsgui"
before_script:

after_script:

script:
